page-signup {
  .no-background {
    background-color: transparent;
  }
  .logo {
    padding: 20px 0px 0px 0px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }
  ion-content {
    background: linear-gradient(#003D5E, #003B76);
  }

  .no-background > ion-item {
    background-color: transparent;
  }
}
